<div class="page col-md-12">
  <h1><%= image_tag @user.gravatar_url(75) %><%= @user.username %></h1>
  <hr/>
  <h4>Info:</h4>
  <p class="text-muted">Joined <%= time_ago_in_words(@user.updated_at) %> ago. </p>
  <p class="text-muted">Email: <%= @user.email %></p>
</div>
