<h1>Your Projects</h1>
<p class="text-muted">Use the sidebar menu to add a new project.</p>
<ul>
  <% current_user.projects.each do |project| %>
    <li><%=link_to project.name, project_path(project) %></li>
  <% end %>
</ul>

<h4> Pending Invites </h4>
<ul>
  <% current_user.invites.pending.each do |invite| %>
    <li><%= invite %></li>
  <% end %>
</ul>
