<h1><%= @asset.name %></h1>
<h5>File manager</h5>

<p class="text-muted">You can upload files to your new asset here. To update a file, just upload it again and it will be overwritten.</p>

<div>Temporary. File uploader will go here</div>
