.glued {
  *:first-child {
    border-radius: 4px 4px 0px 0px;
    border-bottom: none;
  }
  *:last-child {
    border-radius: 0px 0px 4px 4px;
    border-top: none;
  }
}

.form-control {
  resize: none;
}
