<div class="notification-menu">
  <%= link_to user_notifications_path(current_user) do %>
    <span class="badge"><%= current_user.notifications.unread.count %></span>
    <span class="glyphicon glyphicon-bell"></span>
  <% end %>
</div>
